body {
    margin: 0;
    background: linear-gradient(90deg, rgba(0,159,253,255), black);
    height: 125vh;
    width: auto;
    overflow-x: hidden;
    font-weight: 600;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5vh;
    text-decoration: none;
    color: white;
}

.arkadeconts{
   height: 75vh;
   width: auto;
   display: flex;
   flex-direction: row;
}

.streg{
    background-color: white;
    margin-top: 4%;
    height: 80%;
    width: .2%;
    border-radius: 100%;
}

.arkade1{
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 49%;
    font-size: 2.5vh;
    align-items: center;
    text-align: center;
}

.arkade2{
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 49%;
    font-size: 2.5vh; 
}

span{
    color:rgba(252,202,21,255);
}
