
header{
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 20px 0px rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0,159,253,255), black);
}

.logo-cont{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-cont a {
    height: 120%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

#logo{
    height: auto;
    width: 100%;
}

.navbar{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 10vw;
}

.navbar ul li, a{
    margin: 10%;
    font-weight: 600;
    font-family: "Comfortaa", sans-serif;
    font-size: 5vh;
    text-decoration: none;
    color: antiquewhite
}

#indaktilist, #udenaktilist {
    background-color: white;
    color: black;
    border: 0.2rem solid rgba(252,202,21,255);  
    width: 25vh;
    margin-left:1vw;
    border-radius: 2rem;
    text-align: center;
    background-color: black;
    color: white;
}
#indaktilist:hover, #udenaktilist:hover {
    cursor: pointer;
}


#indakti li:first-child, #udenakti li:first-child {
    margin-bottom: -3vh;
    padding-right: 5vw;
    margin-top: 6vh;
}

#booking, #omos{
    margin-left: 1%;
}

#omos{
    margin-left: -105%;
}


#indaktilist, #udenaktilist:focus {
    border-radius: 2.5rem; /* Gør den endnu mere rund, når i fokus */
}


