img {
   background-repeat: no-repeat;
   background-size: cover;    
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.89);
    height: 30vh;
    width: auto;
    overflow-x: hidden;
}

.slideshow {
    width: 100%;
}

.image-slider {
    width: 50vh;
    animation: scroll 30s linear infinite;
    display: flex;
}

.image-slider img {
    width: 40vh;
    height: 40vh;
    object-fit: cover;
    margin-top: 25vh;
    margin-right: 5vh;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-700%);
    }
}
