body {
    margin: 0;
    height: 125vh;
    width: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);

    background: linear-gradient(
        to bottom,
        black 0%,    /*fade farve top*/
        rgba(255, 255, 255, 0) 50%, /*Idk men virker ikke uden den*/
        rgba(255, 255, 255, 0) 50%, /*Idk men virker ikke uden den*/
        black 100%      /*fade farve bot*/
    );
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
    color: antiquewhite
}

