body {
    margin: 0;
   /* background-color: rgba(0, 0, 0, 0.767); rgba(35, 8, 171, 0.879); */
    background: linear-gradient(90deg, rgba(0,159,253,255), black);
    height: 125vh;
    width: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    font-weight: 600;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5vh;
    text-decoration: none;
    color: antiquewhite
}

.omos {
    margin-top: 7%;
    text-align: center;
}
