body {
    margin: 0;
    background: linear-gradient(90deg, rgba(0,159,253,255), black);
    height: 30vh;
    width: auto;
    overflow-x: hidden;

    font-weight: 600;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5vh;
    text-decoration: none;
    color: antiquewhite
}

.omosconts{
    height: 55vh;
    width: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.streg{
    background-color: white;
    margin-top: 5%;
    height: 100%;
    width: .2%;
    border-radius: 100%;
}

.omos1,.omos2{
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 48%;
    font-size: 2.5vh;
}

#Tilbage {
    position: absolute;
    top: 9%;
    left: 89%;
    color: white;
    border: 0.15rem solid rgba(252,202,21,255);
    background-color: black;
    border-radius: 10%;
    padding: 1rem;
    font-size: 2vh;
    font-weight: 1000;
    font-family: "comfortaa", sans-serif;
    cursor: pointer;

}