.billede-container {
    display: flex;
    flex-wrap: wrap; /* Gør, at billeder brydes til næste række */
    justify-content: space-around; /* Lige plads mellem billederne */
    gap: 20px; /* Afstand mellem boksene */
    padding: 20px;
    background: linear-gradient(90deg, rgba(0,159,253,255), black);
}

.boks {
    flex: 1 1 calc(33.33% - 20px); /* Tre bokse pr. række med plads til afstand */
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    aspect-ratio: 1;
    background: linear-gradient(90deg, rgba(0,159,253,255), black);
}

.boks img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; 
}