.billede-container {
    display: flex;
    flex-wrap: wrap; /* Gør, at billeder brydes til næste række */
    justify-content: space-around; /* Lige plads mellem billederne */
    gap: 20px; /* Afstand mellem boksene */
    padding: 20px;
    background: linear-gradient(90deg, rgba(0,159,253,255), black);
}

.boks {
    flex: 1 1 calc(33.33% - 20px); /* Tre bokse pr. række med plads til afstand */
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    aspect-ratio: 1;
    background: linear-gradient(90deg, rgba(0,159,253,255), black);
}

.boks img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; 
}

.upload-billeder {
    display: flex; 
    text-align: center;
    font-weight: 1000;
    font-family: "Comfortaa", sans-serif;
    color: white;
}

#upload-billeder {
    color: white;
    border: 0.15rem solid rgba(252,202,21,255);
    background-color: black;
    border-radius: 10%;
    padding: 0.7rem;
    font-size: 2vh;
    font-weight: 1000;
    font-family: "Comfortaa", sans-serif;
    cursor: pointer;
    margin: 10px; /* Giver lidt afstand mellem knapperne */ 
}

